.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Whether you use PnP or not, the node_modules folder is often used to store
# build artifacts that should be gitignored
node_modules

#  create-next-app이 내부적으로 npm을 써서 생성된 건데, yarn 프로젝트에서 package-lock.json이 같이 있으면 다른 사람이 npm install을 실수로 실행했을 때 yarn lockfile(yarn.lock)과 충돌이 생길 수 있습니다.
package-lock.json

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*


